POSTGRES_USER=myuser
POSTGRES_PASSWORD=change_me
POSTGRES_DB=weatherdb
KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_api_key
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=change_me
