# Copy to .env and adjust as needed
DB_HOST=postgres
DB_PORT=5432
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_password

# Optional
DATABASE_URL=database_url

# Kaggle credentials
KAGGLE_USERNAME=your_kaggle_username
KAGGLE_KEY=your_kaggle_key

# Table names (override if you want)
TABLE_KMI_AWS=GEO
TABLE_KAGGLE_UKKEL=kaggle_ukkel
TABLE_ANTWERP=kaggle_antwerp
TABLE_ECMWF=ECMWF

# Antwerp Kaggle dataset config
ANTWERP_DATASET_NAME=ramima/weather-dataset-in-antwerp-belgium
